body {
  /* background-image: url("/assets/images/background.jpg"); */
  padding-top: 75px;
}

.removeNote {
  display: inline-block;
  background-color: white;
}

.previousNotes {
  display: inline-block;
  width: 85%;
  background-color: white;
}

#scrape {
  margin: 10px 2px;
  background-color: white;
}

.navbar-brand,
.panel-body {
  background-color: white;
}
